<section class="bg-white py-16 sm:py-20" >

  <div class="max-w-7xl mx-auto px-6 sm:px-8 lg:px-12">

    <!-- Titre -->
    <div class="text-center mb-10 sm:mb-12">

      <h2 class="text-2xl sm:text-3xl lg:text-4xl font-bold text-gray-900">
        Nos formations
      </h2>

    </div>


    <!-- Cartes -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">

      <!-- Formation 1 -->
      <a
        routerLink="/formations/verification-financiere"
        class="bg-blue-600 text-white p-6 min-h-[250px] flex flex-col items-center text-center rounded-sm hover:bg-blue-700 transition"
        data-aos="zoom-in"
      >

        <div class="w-18 h-18 rounded-full bg-yellow-400 flex items-center justify-center mb-5" >

          <span class=" text-xl">
            <i class="fa-solid fa-money-bill-transfer text-5xl text-blue-600 text-white"></i>
          </span>

        </div>

        <h3 class="text-sm font-bold">
          Procédure de la vérification financière
        </h3>

        <p class="mt-4 text-xs leading-relaxed">
          Apprendre à contrôler les opérations financières
          et à identifier les erreurs, irrégularités ou
          anomalies dans les documents comptables.
        </p>

      </a>


      <!-- Formation 2 -->
      <a
        routerLink="/formations/archivage-electronique"
        class="bg-blue-600 text-white p-6 min-h-[250px] flex flex-col items-center text-center rounded-sm hover:bg-blue-700 transition"
        data-aos="zoom-in"
      >

        <div class="w-18 h-18 rounded-full bg-yellow-400 flex items-center justify-center mb-5">

          <span class=" text-xl">
             <i class="fa-solid fa-folder-open text-5xl text-blue-600 text-white" ></i>
          </span>

        </div>

        <h3 class="text-sm font-bold">
          Archivage électronique
        </h3>

        <p class="mt-4 text-xs leading-relaxed">
          Apprendre comment gérer professionnellement
          les documents numériques dans une organisation.
        </p>

      </a>


      <!-- Formation 3 -->
      <a
        routerLink="/formations/gestion-ressources-humaines"
        class="bg-blue-600 text-white p-6 min-h-[250px] flex flex-col items-center text-center rounded-sm hover:bg-blue-700 transition"
        data-aos="zoom-in"
      >

        <div class="w-18 h-18 rounded-full bg-yellow-400 flex items-center justify-center mb-5">

          <span class="text-xl">
            <i class="fa-solid fa-users text-5xl text-blue-600 text-white  "></i>
          </span>

        </div>

        <h3 class="text-sm font-bold">
          Gestion des ressources humaines
        </h3>

        <p class="mt-4 text-xs leading-relaxed">
          Comprendre les principes d'une bonne organisation
          du travail et du respect des règles.
        </p>

      </a>


      <!-- Formation 4 -->
      <a
        routerLink="/formations/renforcement-capacites"
        class="bg-blue-600 text-white p-6 min-h-[250px] flex flex-col items-center text-center rounded-sm hover:bg-blue-700 transition"
        data-aos="zoom-in"
      >

        <div class="w-18 h-18 rounded-full bg-yellow-400 flex items-center justify-center mb-5">

          <span class="text-xl">
            <i class="fa-solid fa-user-graduate text-5xl text-blue-600 text-white"></i>
          </span>

        </div>

        <h3 class="text-sm font-bold">
          Renforcement de capacité
        </h3>

        <p class="mt-4 text-xs leading-relaxed">
          Améliorer les connaissances, les compétences
          et les capacités professionnelles des agents
          afin d'optimiser leur efficacité.
        </p>

      </a>

    </div>

  </div>

</section>
