<section class="bg-blue-600 py-10 sm:py-12 lg:py-14 overflow-hidden">



  <!-- Zone du carrousel -->
  <div class="overflow-hidden">

    <div class="marquee-track">

      <!-- Première série de logos -->
      <div class="logo-group">

        <img
          src="images/partenaire/logo_CNSS.png"
          alt="CNSS"
          class="partner-logo"
        >

        <img
          src="images/partenaire/logo_CongoAirways.png"
          alt="Congo Airways"
          class="partner-logo"
        >

        <img
          src="images/partenaire/logo_equitybcdc.png"
          alt="Equity BCDC"
          class="partner-logo"
        >

        <img
          src="images/partenaire/logo_regideso.webp"
          alt="REGIDESO"
          class="partner-logo"
        >

        <img
          src="images/partenaire/logo_igf.jpg"
          alt="Partenaire Praxis"
          class="partner-logo"
        >

        <img
          src="images/partenaire/logo_snel.png"
          alt="Partenaire Praxis"
          class="partner-logo"
        >

        <img
          src="images/partenaire/logo_okplast.jpg"
          alt="Partenaire Praxis"
          class="partner-logo"
        >

      </div>


      <!-- Deuxième série identique -->
      <div class="logo-group" aria-hidden="true">

        <img
          src="images/partenaire/logo_cnssApp_2.jpeg"
          alt=""
          class="partner-logo"
        >

        <img
          src="images/partenaire/logo_trans.png"
          alt=""
          class="partner-logo"
        >

        <img
          src="images/partenaire/logo_totalEnergie.png"
          alt=""
          class="partner-logo"
        >

        <img
          src="images/partenaire/logo_sep_2.png"
          alt=""
          class="partner-logo"
        >

        <img
          src="images/partenaire/logoAdvance.png"
          alt=""
          class="partner-logo"
        >

        <img
          src="images/partenaire/logo_finca_2.jpg"
          alt=""
          class="partner-logo"
        >
        <img
        src="images/partenaire/logo_bank_in_2.png"
        alt=""
        class="partner-logo"
        >

      </div>

    </div>

  </div>

</section>
