<section class="bg-blue-600 py-10 sm:py-12 lg:py-14 overflow-hidden">



  <!-- Zone du carrousel -->
  <div class="overflow-hidden">

    <div class="marquee-track">

      <!-- Première série de logos -->
      <div class="logo-group">

        <img
          src="images/partenaires/logo-CNSS.png"
          alt="CNSS"
          class="partner-logo"
        >

        <img
          src="images/partenaires/logo CongoAirways.png"
          alt="Congo Airways"
          class="partner-logo"
        >

        <img
          src="images/partenaires/logo equity bcdc.png"
          alt="Equity BCDC"
          class="partner-logo"
        >

        <img
          src="images/partenaires/logo regideso.webp"
          alt="REGIDESO"
          class="partner-logo"
        >

        <img
          src="images/partenaires/logo igf.jpg"
          alt="Partenaire Praxis"
          class="partner-logo"
        >

        <img
          src="images/partenaires/logo snel.png"
          alt="Partenaire Praxis"
          class="partner-logo"
        >

        <img
          src="images/partenaires/logo okplast.jpg"
          alt="Partenaire Praxis"
          class="partner-logo"
        >

      </div>


      <!-- Deuxième série identique -->
      <div class="logo-group" aria-hidden="true">

        <img
          src="images/partenaires/logo cnssApp-2.jpeg"
          alt=""
          class="partner-logo"
        >

        <img
          src="images/partenaires/logo-trans.png"
          alt=""
          class="partner-logo"
        >

        <img
          src="images/partenaires/logo totalEnergie.png"
          alt=""
          class="partner-logo"
        >

        <img
          src="images/partenaires/logo sep-2.png"
          alt=""
          class="partner-logo"
        >

        <img
          src="images/partenaires/logoAdvance.png"
          alt=""
          class="partner-logo"
        >

        <img
          src="images/partenaires/logo bank-in-2.png"
          alt=""
          class="partner-logo"
        >
        <img
        src="images/partenaires/logo finca.jpg"
        alt=""
        class="partner-logo"
        >

      </div>

    </div>

  </div>

</section>
