<section
  class="relative min-h-[520px] sm:min-h-[580px] lg:min-h-[620px] bg-cover bg-center"
  style="background-image: url('https://images.unsplash.com/photo-1556761175-b413da4baf72?auto=format&fit=crop&w=1600&q=80');"
   data-aos="fade-up"
  class="py-20"
>

  <!-- VOILE SOMBRE -->
  <div class="absolute inset-0 bg-black/60"></div>


  <!-- CONTENU -->
  <div
    class="relative z-10 max-w-7xl mx-auto px-6 sm:px-8 lg:px-12 min-h-[520px] sm:min-h-[580px] lg:min-h-[620px] flex items-center"
  >

    <div class="max-w-2xl text-white">

      <!-- TITRE -->

      <h1
        class="text-3xl sm:text-4xl lg:text-5xl font-bold leading-tight"
      >
        <span class="text-blue-500">Praxis</span>
        University
      </h1>


      <!-- SOUS-TITRE -->

      <p
        class="mt-3 text-sm sm:text-base lg:text-lg"
      >
        Bureau d'étude, de recherche et Formation
      </p>


      <!-- DESCRIPTION -->

      <p
        class="mt-6 text-sm sm:text-base leading-relaxed max-w-xl"
      >
        Votre partenaire pour le développement des compétences.
        Nous accompagnons les entreprises et institutions congolaises
        dans la formation, le renforcement des capacités et la
        performance de leurs agents.
      </p>


      <!-- SLOGAN -->

      <p
        class="mt-5 font-semibold text-sm sm:text-base"
      >
        Former • Accompagner • Transformer
      </p>


      <!-- BOUTON -->

      <div class="mt-8">

        <a
          routerLink="/apropos"
          class="inline-block bg-blue-600 text-white px-7 py-3 rounded-md font-medium hover:bg-blue-700 transition"
        >
          Savoir Plus
        </a>

      </div>

    </div>

  </div>

</section>
